@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");

@import "./src/scss/templates.scss";
@import "./src/scss/fonts.scss";
@import "./src/scss/vars.scss";

@import "./src/scss/blocks/action.scss";
@import "./src/scss/blocks/header.scss";
@import "./src/scss/blocks/parametrs.scss";
@import "./src/scss/blocks/seasonality.scss";
@import "./src/scss/blocks/regular_assort.scss";
@import "./src/scss/blocks/promo.scss";
@import "./src/scss/blocks/new_products.scss";
@import "./src/scss/blocks/summary_plan.scss";
@import "./src/scss/blocks/promo_ratio.scss";
@import "./src/scss/blocks/planner.scss";
@import "./src/scss/blocks/modal.scss";
@import "./src/scss/blocks/modal_bootstrap.scss";
@import "./src/scss/blocks/modal_optRegAss.scss";
@import "./src/scss/blocks/plannerModal.scss";
@import "./src/scss/blocks/aside.scss";
@import "./src/scss/blocks/button.scss";
@import "./src/scss/blocks/content.scss";


:root {
  --bs-card-spacer-x: 20px;
  --bs-card-spacer-y: 20px;
}


body {
    width: 99vw;
    height: 100vh;
//   margin-top: 20px;
background: white;
  font-family: $main-font;
  color:  #2C2D31;
  line-height: 20px;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
}

.container{
  height: 100vh;
  padding-left: 0px;
  padding: 0px;
  margin: 0px;
  margin-left: 0px;
}

.first_nav {
  margin-left: 50px;
  width: 200px;
  background-color: #333;
  color: white;
  float: left;
  height: 770px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.aside-menu__btn{
    border: none;
}
.btn{
  font-size: 1.2rem;
}