
.action_container {
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-template-rows: repeat(8, auto);
    gap: 10px;
    // padding-left: 40px; 
    padding-top: 20px;
    .action_container__scu, .action_container__date,.action_container__conditions {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, auto);
        gap: 12px;
        border: 1px $frame_color2 solid;
        padding: 12px;
        align-items: center;
    }
    .action_container__conditions{
        grid-template-rows: repeat(3, auto);
    }
    .action_container__comment{
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 80px);
        gap: 12px;
        border: 1px $frame_color2 solid;
        padding: 12px;
    }
}
.action_saveButton, .action_selectFileButton{
    grid-column: span 4;
}

#action_saveButton, #action_downloadButton, #action_templateButton, #action_export{
    grid-column: span 4;
    width: 180px;
    height: 40px;
    &:hover{
        background-color: $hover-button;
    }
}

#action_selectFileButton{
    grid-column: span 4;
    height: 40px;
}

#action_saveButton{
    margin-left: 40%;
    margin-top: 8px;
    width: 250px;
}

#action_templateButton{
    margin-top: 5%;
}
#action_scu, #action_date-creation, #action_date-start, #action_date-finish, #action_region, #action_mechanics, #action_discount{
    height: 30px;
}