.form-check-input{
  &:checked{
    background-color: $cl-purple;
    border-color: $cl-purple;
  }
  &:focus{
    
  }
}


.form-switch{
  .form-check-input {
    &:focus{
      --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='red'/%3e%3c/svg%3e);
    } 
  }
}