.modalOptRegAss {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-contentOptRegAss {
    background-color: #fefefe;
    margin: 1% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 1100px;
    border-radius: 8px;
    height: 800px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    flex-shrink: 0;
}

.modal-header .close {
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-header .close:hover {
    color: #000;
}

.modal-body {
    display: flex;
    padding: 0.5%;
    border: 1px $cl-grey-purple solid;
    border-radius: 8px;
    margin: 1.5% 0.5%;
    overflow-y: auto;
}

.left_sectionModalRegAs, .right-section {
    flex: 1;
    padding: 1%;
    // border: 1px $cl-purple-light solid;
    // border-radius: 8px;
    margin: 1%;
}
.modal-footer{
    flex-shrink: 0;
}

// .left-section ul, .right-section ul {
//     list-style-type: none;
//     padding: 0;
// }

// .left-section li, .right-section li {
//     margin: 10px 0;
// }

// .modal-footer {
//     border-top: 1px solid #ddd;
//     padding-top: 10px;
// }

// .modal-footer ul {
//     list-style-type: none;
//     padding: 0;
// }

// .modal-footer li {
//     margin: 10px 0;
// }

// .save-button {
//     display: block;
//     margin: 20px auto 0;
//     padding: 10px 20px;
//     background-color: #4CAF50;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }

// .save-button:hover {
//     background-color: #45a049;
// }





