.newProduct_container{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(7, auto);
    gap: 10px;
    padding-left: 40px; 
    padding-top: 20px;
    // width: 800px;
}

#newProduct_calculate_forecastButton, #newProduct_optimizeButton{
    width: 250px;
    background-color: coral;
    border-radius: 5px;
    height: 40px;
    grid-column: span 2;
    margin-left: 10%;
    margin-top: 15px;
    }

    .newProduct_calculate{
        grid-column: span 2;
        display: flex;
        align-items: center;
        #newProduct_scenario{
            margin-left: 20px;
            height: 30px;
        }
    }
    
    #newProduct_exportButton,#newProduct_resultsButton,#newProduct_chartButton{
        width: 150px;
        grid-column: span 2;
        margin: 5px;
        margin-top: 20px;
        border-radius: 5px;
        height: 30px;
    }
    
    .newProduct__preview{
        display:flex;
        flex-direction: row;
        margin-top: 20px;
        .newProduct__results{
            display: flex;
            flex-direction: column;
            #tb_newProduct_results{
                width: 900px;
                height: 350px;
            }
        }
        .newProduct__chart{
            margin-left: 20px;
            border: 1px lightblue solid;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
          justify-content: center;
            #tb_newProduct_chart{
                width: 450px;
            }
        }
    }

