.parameters_container{
    display: grid;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(5, auto);
    gap: 4%;
    column-gap: 4%;
    padding-left: 15px; 
    padding-top: 0px;
}

.parameters_season{
    grid-column: span 1;

}
#parameters_season,#parameters_oos,#parameters_recovery-method, #parameters_promo, #parameters_sales_spikes{
    margin-left: 20px;
}
.parameters_sales_recovery_radio{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    gap: 1%;
}
.container_parameters_sales_recovery{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(3, auto);
}

.parameters_sales_recovery{
    grid-column: span 1;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.parameters_aggregation-wrapper,.parameters_oos-wrapper, .parameters_promo-wrapper, .parameters_season-wrapper,.parameters_spikes, .container_parameters_sales_recovery, .parameters_sales_spikes{
    border: 1px $frame_color2 solid;
    width:100%;
    padding: 2%;
    // border-radius: 5px;
    align-items: center;
}


 #parameters_promo{
    width: 100%;
 }
 #parameters_promo{
    margin-left: 33%;
 }

 #parameters_saveButton{
width: 200px;
height: 30px;
margin-top: 5%;
&:hover{
    background-color: $hover-button;
 }
 }

.parameters_aggregation {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(4, auto);
    gap: 0.3rem;
}
.parameters_oos, .parameters_promo, .parameters_season, .parameters_spikes {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, auto);
    gap:  0.3rem;
}


.parameters_aggregation-title, .parameters_spikes-title, .parameters_oos-title, .parameters_promo-title, .parameters_season-title{
    margin-left: 35%;
    font-weight: 600;
}
.parameters_spikes-title{
    grid-column: span 2;
}

#parameters_oos-chek,#parameters_promo-chek, #parameters_season-chek, #parameters_season-smooth, #parameters_spikes-chek, #parameters_sales_recovery-chek{
    width: 20px;
    height: 20px;
}
#parameters_aggregation-time, #parameters_aggregation-geo, #parameters_aggregation-group, #parameters_aggregation-scu, #parameters_oos-method, #parameters_promo-method, #parameters_spikes-method, #parameters_sales_recovery-method{
    width: 100%;
    height: 90%;
}