.planner_container{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    grid-template-rows: repeat(5, auto);
    gap: 5%;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-left: 10%;
}

#planner_saveButton{
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-left: 50%;
    &:hover{
        background-color: $hover-button;
}
}

#planner_Iframe{
    grid-column: span 2;
    margin-top: 10%;
    width: 120%;
    height: 100%;
}

#planner_settingRepeat{
    width: 200px;
    height: 30px;
    margin: 10px;
    margin-left: 10%;
    &:hover{
        background-color: $hover-button;
}
}

#planner_interval_num{
    width: 50px;
    height: 25px;
}
#planner_interval_str{
    width: 125px;
    height: 25px;
}
