.promoRatio_contaier {
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    column-gap: 5%;
    padding-top: 0px;
    .promoRatio_aggregate{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(4, 30px);
        align-items: center;
        gap: 5px;
        row-gap: 5%;
        border: 1px $frame_color2 solid;
        padding: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        

        .promoRatio__aggregation-title{
            grid-column: span 2;
            text-align: center;
            font-weight: 700;
        }
    }
}

.promoRatio_calculation{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(4, 40px);
    gap: 2%;
    align-items: center;
}

#promoRatio_time, #promoRatio_groupSCU, #promoRatio_geography, #promoRatio_other-indicators{
    width: 100%;
    height: 30px;
    margin-top: 2%;
}

#promoRatio_scenario, #promoRatio_method{
    width: 250px;
    height: 30px;
    margin-top: 2%;
}

#promoRatio_season-smooth{
    margin-left: 2%;
    width: 25px;
    height: 25px;
}

#promoRatio__calculateForecastButton, #promoRatio_exportButton, #promoRatio_importButton{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    &:hover{
        background-color: $hover-button;
    }
}
#promoRatio_saveButton{
    grid-column: span 4;
    width: 180px;
    height: 35px;
    margin-left: 580px;
    margin-top: 50px;
    &:hover{
        background-color: $hover-button;
    }
}

#promoRatio_previewButton{
    grid-column: span 2;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color:$button_preview_color;
    border: 1px $second-color solid;
    margin-left: 80%;
    &:hover{
        background-color: $hover-button;
    }
}

#tb_promoRatio{
    grid-column: span 2;
    margin-top: 10%;
    width: 95%;
    height: 100%;
}

#label_promoRatio_max{
    margin-left: 10px;
}





















// .promoRatio_container{
//     display: grid;
//     grid-template-columns: repeat(2, 300px);
//     grid-template-rows: repeat(5, auto);
//     gap: 10px;
//     padding-left: 40px; 
//     padding-top: 20px;
//     // width: 800px;
//     .promoRatio_exportImportButton{
//         grid-column: span 2;
//         display: flex;
//         margin-left: 10%;
//     }
// }

// #promoRatio_calculateButton, #promoRatio_exportButton, #promoRatio_importButton{
//     width: 200px;
//     background-color:azure;
//     border-radius: 5px;
//     height: 40px;
//     grid-column: span 2;
//     margin-left: 10%;
//     margin-top: 15px;
//     }

//     .promoRatio_calculate{
//         grid-column: span 2;
//         display: flex;
//         align-items: center;
//         #promoRatio_scenario{
//             margin-left: 20px;
//             height: 30px;
//         }
//     }

  
    
//     #promoRatio_resultsButton,#promoRatio_chartButton{
//         width: 150px;
//         grid-column: span 2;
//         margin: 5px;
//         margin-top: 20px;
//         border-radius: 5px;
//         height: 30px;
//     }
    
//     .promoRatio__preview{
//         display:flex;
//         flex-direction: row;
//         margin-top: 20px;
//         .promoRatio__results{
//             display: flex;
//             flex-direction: column;
//             #tb_promoRatio_results{
//                 width: 900px;
//                 height: 350px;
//             }
//         }
//         .promoRatio__chart{
//             margin-left: 20px;
//             border: 1px lightblue solid;
//             border-radius: 15px;
//             display: flex;
//             flex-direction: column;
//           justify-content: center;
//             #tb_promoRatio_chart{
//                 width: 450px;
//             }
//         }
//     }

