#modal {
    display: none; /* Скрываем модальное окно по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
}

/* Стили для содержимого модального окна */
#modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: start;
}

#ra_saveButton, #ra_closeModalButton{
    width: 100px;
    height: 30px;
    margin: 10px;
}
.modal_title{
    margin-bottom: 20px;
}