.seasonality_contaier {
    display: grid;
    grid-template-columns: repeat(2, 70%);
    grid-template-rows: repeat(3, auto);
    column-gap: 15px;
    padding-top: 20px;
    .seasonality_aggregate{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 30px);
        align-items: center;
        gap: 5%;
        border: 1px $frame_color2 solid;
        padding: 8px;
        .seasonality__aggregation-title{
            grid-column: span 2;
            margin-left: 40%;
        font-weight: 700;
        margin-top: 15px;
        margin-bottom: 15px;
        }
    }
}

.seasonality_calculation{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
    align-items: center;
    column-gap: 10px;
}


#seasonality_time, #seasonality_groupSCU, #seasonality_geography, #seasonality_groupSCU, #seasonality_method,#seasonality_scenario{
    width: 80%;
    height: 25px;
    margin-top: 2%;
}

#seasonality_season-smooth{
    margin-left: 2%;
    width: 15px;
    height: 15px;
}

#seasonality__calculateForecastButton, #seasonality_exportButton, #seasonality_importButton, #seasonality__saveForecastButton{
    width: 80%;
    height: 40px;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.1s;
    &:hover{
        background-color:$hover-button;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
        background-color: $focus-button;
    }
    &:active{
        // background-color: red;
        transform: scale(0.95);
        // box-shadow: 0 0 5px  rgb(167, 67, 167);
    }
}

// #tb_seasonality{
//     grid-column: span 2;
//     margin-top: 10%;
//     width: 100px;
//     height: 100px;
// }

#seasonality_chart {
    grid-column: span 2;
    margin-top: 70px;
    width: 900px;
    height: 400px;
}
// .svg-container{
//     border: 1px red solid;
//     width: 200px;
//     height: 200px;
// }
#seasonality__saveForecastButton{
    grid-column: span 2;
    width: 220px;
    height: 30px;
    margin-left: 30%;
}