#seasonality_chart {
    //grid-column: span 2;
    //margin-top: 70px;
    width: 70vw;
    height: 400px;
    //border: 1px $cl-purple-light solid;
}

/* Основные стили для контейнера */
.seasonality_container {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    /* Бордер только у контейнера */
    //padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Стили для карточек */
.card-regular_assort {
    flex: 1;
    margin: 0 10px;
    background-color: #fff;
    border: none;
    /* Убираем бордер у карточек */
    border-radius: 8px;
    box-shadow: none;
}

/* Стили для заголовков блоков */
.block_title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

/* Стили для выпадающих списков и текстовых полей */
.form-select,
.form-control {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

#seasonality_method {
    height: 35px;
}

#seasonality_script {
    width: 80%;
    height: 35px;
}

#buttonRegularAssortMethod {
    height: 45px;
    border: 1px red solid;
}

.seasonality_pre-smoothing {
    padding-left: 8%;
}

.seasonality_buttons {
    padding-top: 2%;
    display: flex;
    justify-content: space-around;
}


// .seasonality_contaier {
//     display: grid;
//     grid-template-columns: repeat(2, 35vw);
//     grid-template-rows: repeat(4, 240px);
//     column-gap: 4%;
//     .seasonality_aggregate{
//         display: grid;
//         grid-template-columns: repeat(2, 46%);
//         grid-template-rows: repeat(4, 30px);
//         align-items: center;
//         gap: 4%;
//         row-gap: 8%;
//         border: 1px $frame_color2 solid;
//         padding: 2%;
//         box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
//         .seasonality__aggregation-title{
//             text-align: center;
//             grid-column: span 2;
//         font-weight: 700;
//         margin-top: 15px;
//         margin-bottom: 15px;
//         }
//     }
// }
// .seasonality_aggregate:hover,
// .seasonality_calculation:hover
//  {
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
// }
// .seasonality_calculation{
//     padding: 2%;
//     border: 1px $frame_color2 solid;
//     display: grid;
//     grid-template-columns: 50% 45%;
//     grid-template-rows: repeat(4, auto);
//     gap: 4%;
//     align-items: center;
//     column-gap: 4%;
//     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
// }
// #seasonality_time, #seasonality_groupSCU, #seasonality_geography, #seasonality_groupSCU, #seasonality_method,#seasonality_scenario{
//     width: 80%;
//     height: 30px;
//     margin-top: 2%;
// }
// #seasonality_method,#seasonality_scenario{
//     width: 100%;
//     height: 30px;
//     margin-top: 2%;
// }

// #seasonality_season-smooth{
//     margin-left: 2%;
//     width: 25px;
//     height: 25px;
// }
// #seasonality__calculateForecastButton{
//     width: 80%;
//     height: 40px;
//     margin-top: 10px;
// }
// #seasonality__calculateForecastButton, #seasonality_exportButton, #seasonality_importButton, #seasonality__saveForecastButton{
//     transition: background-color 0.3s, transform 0.1s;
//     &:hover{
//         background-color:$hover-button;
//         transform: scale(1.05);
//     }
//     &:focus {
//         outline: none;
//         background-color: $focus-button;
//     }
//     &:active{
//         transform: scale(0.95);
//     }
// }
// #seasonality_exportButton, #seasonality_importButton{
//     width: 150px;
//     height: 40px;
//     margin: 5px;
// }

// #seasonality_chart {
//     grid-column: span 2;
//     margin-top: 70px;
//     width: 70vw;
//     height: 500px;
// }
// .seasonality_Buttons{
//     display: flex;
//     flex-direction: row;
//     column-gap: span 2;
//     margin-top: 10px;
//     height: 100px;

// }