.summary_plan_contaier {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    column-gap: 50px;
    padding-top: 20px;
    .summary_plan_aggregate{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(5, 30px);
        align-items: center;
        gap: 5px;
        border: 1px $frame_color2 solid;
        padding: 8px;
        .summary_plan__aggregation-title{
            grid-column: span 2;
            margin-left: 23%;
            font-weight: 700;
        }
    }
}

.summary_plan_calculation{
    display: grid;
    grid-template-columns: repeat(2, 230px);
    grid-template-rows: repeat(4, auto);
    gap: 10px;
    align-items: center;
}

#summary_plan_time, #summary_plan_groupSCU, #summary_plan_geography, #summary_plan_scu, #summary_plan_method, #summary_plan_scenario{
    width: 200px;
    height: 25px;
    margin-top: 2%;
}

#summary_plan__cannibalization, #summary_plan__regAssort, #summary_plan__promo, #summary_plan__newsProducts {
    margin-left: 2%;
    width: 15px;
    height: 15px;
}

#summary_plan__calculateForecastButton, #summary_plan_exportButton, #summary_plan_importButton, #summaryPlan__optimizButton{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    &:hover{
        background-color: $hover-button;
    }
}
#summary_plan_saveButton{
    grid-column: span 4;
    width: 180px;
    height: 35px;
    margin-left: 580px;
    margin-top: 50px;
    &:hover{
        background-color: $hover-button;
    }
}

#summary_plan_previewButton{
    grid-column: span 2;
    margin-top: 30px;
    width: 200px;
    height: 40px;
    background-color:$button_preview_color;
    border: 1px $second-color solid;
    margin-left: 90%;
    &:hover{
        background-color: $hover-button;
    }
}

#summaryPlan_PreviewIframe{
    grid-column: span 2;
    margin-top: 10%;
    width: 1000px;
    height: 360px;

}
