
@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
         url('../fonts/Inter/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
         url('../fonts/Inter/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Добавьте другие начертания по аналогии */
  /* src/styles/fonts.css */