
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css");

@import "./vars.scss";
@import "./templates.scss";
@import "./fonts.scss";

@import "./blocks/button.scss";
@import "./blocks/action.scss";
@import "./blocks/header.scss";
@import "./blocks/parametrs.scss";
@import "./blocks/seasonality.scss";
@import "./blocks/regular_assort.scss";
@import "./blocks/promo.scss";
@import "./blocks/new_products.scss";
@import "./blocks/summary_plan.scss";
@import "./blocks/promo_ratio.scss";
@import "./blocks/planner.scss";
@import "./blocks/modal.scss";
@import "./blocks/modal_bootstrap.scss";
@import "./blocks/modal_optRegAss.scss";
@import "./blocks/modal_methodsRegAss.scss";
@import "./blocks/plannerModal.scss";
@import "./blocks/aside.scss";
@import "./blocks/content.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css");