@import "./vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap");

a{
    text-decoration: none;
}

#check-mark_button{ /*галочка для всех кнопок*/
    display: none;
    color: green;
    font-size: 15px;
    margin-left: 10px;
 }

 .previewButton{
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color:$button_preview_color;
    border: 1px $second-color solid;
    margin: 5px;
 }