//здесь переменные
// $main-font: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-font: 'Roboto', sans-serif;
// $main-font:  'Montserrat', sans-serif;
// $main-font: 'PT Root UI', sans-serif;
// $main-font: 'Poppins', sans-serif;
$secondary-font: "Sen", sans-serif;

$primary-color: #00008B;
$accent-color: #FF8C00;
$second-color:#333;
$frame_color: rgb(163, 210, 242);
$frame_color2: rgb(184, 184, 184);
$button_preview_color:azure;
$white: #fff;
$search-hover-color: rgba(236, 94, 68, 0.723);
$background-color-dark: linear-gradient(135deg, rgb(0, 0, 0), #1b1b26, #16213e);
$active-button:rgba(32, 139, 220, 0.495);
$hover-button: rgb(167, 204, 215);
$focus-button: rgb(167, 204, 215);
$hover-button2:rgba(9, 99, 39, 0.495);

$transition-time: 0.2s;